.image-animation-div{
    text-align: center;
           background-image: url("./images/Component 78.png");
           background-position: center;
           background-repeat: no-repeat;
           background-size: 100%;
           animation: shrink 5s ease infinite alternate;
}

@keyframes shrink {
    0% {
      background-size: 80% auto;
    }
   
    100% {
        background-size: 100% auto;
      }
  }

  .big-girl{
    width: 75%;
    border-bottom-right-radius: 45%;
    border-bottom-left-radius: 40%;
  }

  .postion-realative{
    position: relative;
  }

  .team-social-wrapper{
    position: absolute;
  }

  .harkuch-karo{
    position: relative;
  }

  .team-one-icon {
    width: 100%;
}

.contain-upper {
  padding-left: 7.3%;
  padding-right: 7.3%;
}

.contain-4small-one {
  padding-left: 10.4%;
  padding-right: 10.4%;
}

.contain-slidder-lower,.contain-other-similar {
  padding-left: 10.2%;
  padding-right: 10.4%;
}

.any-con-inert{
  padding-left: 11.11%;
  padding-right: 11.11%;
}

.conk {
  padding-left: 10.4%;
  padding-right: 10.4%;
}

.contaiyy-photos{
  padding-left: 10.4%;
  padding-right: 9.2%;
}

.conteeey{
  padding-left: 24%;
  padding-right: 24%;
}

.contani-may-very{
  padding-left: 10.34%;
  padding-right: 10.34%;
}

.we-section-content {
  padding-left: 16%;
  padding-right: 7%;
}

ul.media-links li {
    padding-bottom: 15px;
  }
  @media only screen and (max-width: 770px) {
  ul.media-links li {
    padding-bottom: 10px;
    height: 15%;
  }

  
}
  